<!-- wp:template-part {"slug":"header","theme":"ecommerce-gift-cart","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main id="content" class="wp-block-group">
	
	<!-- wp:pattern {"slug":"ecommerce-gift-cart/header-banner"} /-->

	<!-- wp:pattern {"slug":"ecommerce-gift-cart/sale-section"} /-->

	<!-- wp:pattern {"slug":"ecommerce-gift-cart/about-section"} /-->

	<!-- wp:pattern {"slug":"ecommerce-gift-cart/latest-blog"} /-->

	<!-- wp:pattern {"slug":"ecommerce-gift-cart/product-section"} /-->
	
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ecommerce-gift-cart","tagName":"footer"} /-->